<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="text-center content-titles">
    <h1 class="fw-bold custom-title">Geração de Certificado</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo Certificado</h2>
    <div class="mb-3 custom-input-group">
      <label
        for="nome"
        class="form-label"
        [ngClass]="{
            'text-danger-label' : campoInvalido(nomeRef)
        }"
      >

      Nome

      </label>

      <input
        id="nome"
        name="nome"
        type="text"
        class="form-control custom-input"
        [(ngModel)]="certificado.nome"
        #nomeRef="ngModel"
        maxlength="150"
        placeholder="Nome do aluno"
        required
      />

      @if (campoInvalido(nomeRef)) {
        <div class="error-message d-flex align-items-center">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">Campo Obrigatório</p>
        </div>
      }

    </div>
    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">

        <label
          for="atividade"
          class="form-label"
        >

        Atividade

        </label>

        <input
          id="atividade"
          name="atividade"
          type="text"
          [(ngModel)]="atividade"
          #atividadeRef="ngModel"
          class="form-control custom-input"
          maxlength="50"
          placeholder="Atividade Exercida"
          required
        />

      </div>

      <app-secondary-buttom
        [disabled]="atividade.length == 0"
        titleButtom="Adicionar"
        phClass="ph ph-plus"
        (click)="adicionarAtividade()"
      ></app-secondary-buttom>

    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de Atividades</label>
      <div class="item-list w-100">

        @for (atividade of certificado.atividades; track $index) {
          <div class="item">
            <span class="item-text"> {{atividade}} </span>
            <div (click)="deleteAtt($index)" class="remove-btn">
              <i class="ph-bold ph-x remove-btn"></i>
            </div>
          </div>

          @if ($index + 1 != certificado.atividades.length) {
            <hr>
          }
        }

      </div>
    </div>
    <app-primary-button titleButton="Gerar Certificado" [disabled]="!formValido()"  ></app-primary-button>
  </div>
</form>
